[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "easymotion"]
	path = .vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
